doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/admin/css/style.css")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
        title Document
    body 
        include ../partials/header.pug 
        .content
          block main 

        include ../partials/sider.pug 


        script(src="/admin/js/script.js") 
        script(type='application/javascript', src='/tinymce/tinymce.min.js')
        // Script element sourcing the TinyMCE configuration
        script(type='application/javascript', src='/admin/js/my-tinymce-config.js') 