body {
    padding-top: 56px;
  }

  @media (min-width: 768px) {
    body {
      padding-top: 0;
    }
  }

  .sidebar {
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }

  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1029;
  }

  .content {
    margin-left: 250px;
    padding: 20px;
  }
  .card {
    width: 400px; /* Adjust the width of the card */
  }
  .card-img-top {
    width: 100%; /* Make the image fill the card */
    height: auto; /* Preserve the aspect ratio */
  }
  /* Login here */
  body {
    background-color: #f8f9fa;
  }

  .login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

  .login-container h2 {
    margin-bottom: 30px;
    text-align: center;
  }

  .form-control {
    border-radius: 5px;
  }

  .btn-login {
    border-radius: 5px;
  }