extends ../../layouts/default.pug 
include ../../mixins/show-alert.pug 
block main 
    h1 Đây là trang thêm mới 
    .container.mt-5
      +showSucesAlert()
      +showErrorAlert()
      .row.justify-content-center
            .card-body
              form(action="/admin/accounts/create" method="POST" enctype="multipart/form-data")
                .form-group
                  label(for='fullName') Full Name
                  input#fullName.form-control(type='text', name='fullName', placeholder='Enter your full name')
                .form-group
                  label(for='email') Email
                  input#email.form-control(type='email', name='email', placeholder='Enter your email address')
                .form-group
                  label(for='password') Password
                  input#password.form-control(type='password', name='password', placeholder='Enter your password')
                .form-group
                  label(for='phone') Phone
                  input#phone.form-control(type='text', name='phone', placeholder='Enter your phone number')
                .form-group
                  label(for='avatar') Avatar
                  input#avatar.form-control(type='file', name='avatar', placeholder='Enter URL of your avatar')
                .form-group
                  label(for='role_id') Role ID
                  select#role_id.form-control(name='role_id')
                    option(value='') Chọn
                    each item in role
                        option(value=item.id) #{item.title}
                    // Add more options as needed
                .form-group
                  label Status
                  .form-check
                    input#active.form-check-input(type='radio', name='status', value='active', checked='')
                    label.form-check-label(for='active')
                      | Active
                  .form-check
                    input#inactive.form-check-input(type='radio', name='status', value='inactive')
                    label.form-check-label(for='inactive')
                      | Inactive
                button.btn.btn-primary(type='submit') Submit