extends ../../layouts/default.pug 
include ../../mixins/show-alert.pug
block main 
     
    .container
      h1.my-4 Danh S&aacute;ch Tin T&#x1EE9;c
      .row
       each item in news
          .col-md-4.mb-4
           a(href="/news/detail/"+item.slug style='text-decoration: none') 
            .card
              img.card-img-top(src=item.thumbnail, alt='Ảnh Thumbnail' style='width: 300px; height: 200px')
              .card-body
                h5.card-title #{item.title}
       