.sidebar.bg-light
      ul.nav.flex-column
        li.nav-item
          a.nav-link.active(href='/admin/dashboard') Dashboard
        
        li.nav-item
          a.nav-link(href='/admin/users') Users
        if localRoles.permissions.includes("product_view")
          li.nav-item
            a.nav-link(href='/admin/products') Products
        if localRoles.permissions.includes("product-category_view")
          li.nav-item
            a.nav-link(href='/admin/product-category') Categories
        if localRoles.permissions.includes("role_view")
          li.nav-item
            a.nav-link(href='/admin/roles') Role
        if localRoles.permissions.includes("roles_permission")
          li.nav-item
            a.nav-link(href='/admin/roles/permissions') Phân quyền 
        if localRoles.permissions.includes("account_view")
          li.nav-item
            a.nav-link(href='/admin/accounts') Tài khoản  
        if localRoles.permissions.includes("news_view")
          li.nav-item
            a.nav-link(href='/admin/news') Tin tức  
        if localRoles.permissions.includes("general_view")
          li.nav-item
            a.nav-link(href='/admin/settings/general') Cài đặt chung   
        if localRoles.permissions.includes("order_view")
          li.nav-item
            a.nav-link(href='/admin/order') Hóa đơn 