.sidebar.bg-light
      ul.nav.flex-column
        li.nav-item
          a.nav-link.active(href='#') Dashboard
        li.nav-item
          a.nav-link(href='#') Users
        li.nav-item
          a.nav-link(href='#') Products
        li.nav-item
          a.nav-link(href='#') Categories