.sidebar.bg-light
      ul.nav.flex-column
        li.nav-item
          a.nav-link.active(href='#') Dashboard
        li.nav-item
          a.nav-link(href='/admin/users') Users
        li.nav-item
          a.nav-link(href='/admin/products') Products
        li.nav-item
          a.nav-link(href='/admin/product-category') Categories
        li.nav-item
          a.nav-link(href='/admin/roles') Role
        li.nav-item
          a.nav-link(href='/admin/roles/permissions') Phân quyền 
        li.nav-item
          a.nav-link(href='/admin/accounts') Tài khoản  