.container
      footer.py-5
        .row
          .col-6.col-md-2.mb-3
            h5 Section
            ul.nav.flex-column
              li.nav-item.mb-2
                a.nav-link.p-0.text-muted(href='#') Home
              li.nav-item.mb-2
                a.nav-link.p-0.text-muted(href='#') Features
              li.nav-item.mb-2
                a.nav-link.p-0.text-muted(href='#') Pricing
              li.nav-item.mb-2
                a.nav-link.p-0.text-muted(href='#') FAQs
              li.nav-item.mb-2
                a.nav-link.p-0.text-muted(href='#') About
          .col-6.col-md-2.mb-3
            h5 Section
            ul.nav.flex-column
              li.nav-item.mb-2
                a.nav-link.p-0.text-muted(href='#') Home
              li.nav-item.mb-2
                a.nav-link.p-0.text-muted(href='#') Features
              li.nav-item.mb-2
                a.nav-link.p-0.text-muted(href='#') Pricing
              li.nav-item.mb-2
                a.nav-link.p-0.text-muted(href='#') FAQs
              li.nav-item.mb-2
                a.nav-link.p-0.text-muted(href='#') About
          .col-6.col-md-2.mb-3
            h5 Section
            ul.nav.flex-column
              li.nav-item.mb-2
                a.nav-link.p-0.text-muted(href='#') Home
              li.nav-item.mb-2
                a.nav-link.p-0.text-muted(href='#') Features
              li.nav-item.mb-2
                a.nav-link.p-0.text-muted(href='#') Pricing
              li.nav-item.mb-2
                a.nav-link.p-0.text-muted(href='#') FAQs
              li.nav-item.mb-2
                a.nav-link.p-0.text-muted(href='#') About
          .col-md-5.offset-md-1.mb-3
            form
              h5 Subscribe to our newsletter
              p Monthly digest of what&apos;s new and exciting from us.
              .d-flex.flex-column.flex-sm-row.w-100.gap-2
                label.visually-hidden(for='newsletter1') Email address
                input#newsletter1.form-control(type='text', placeholder='Email address', fdprocessedid='8e9z6d')
                button.btn.btn-primary(type='button', fdprocessedid='if65ty') Subscribe
        .d-flex.flex-column.flex-sm-row.justify-content-between.py-4.my-4.border-top
          p &copy; 2022 Company, Inc. All rights reserved.
          ul.list-unstyled.d-flex
            li.ms-3
              a.link-dark(href='#')
                svg.bi(width='24', height='24')
                  use(xlink:href='#twitter')
            li.ms-3
              a.link-dark(href='#')
                svg.bi(width='24', height='24')
                  use(xlink:href='#instagram')
            li.ms-3
              a.link-dark(href='#')
                svg.bi(width='24', height='24')
                  use(xlink:href='#facebook')